.menu-btn {
	z-index: 3;
	position: absolute;
	top: 1rem;
	right: 2rem;
	cursor: pointer;
	@include easeOutall;

	>.menu-btn-line {
		width: 2rem;
		height: 4px;
		border-radius: 4px;
		background-color: #fff;
		@include easeOutall;
	}

	:nth-child(2) {
		margin: 4px 0 4px;
	}

	:nth-child(3) {
		margin: 4px 0 4px;
	}


	&.close {
		transform: rotate(-90deg);

		:nth-child(1) {
			width: 2.2rem;
			transform: rotate(45deg) translateX(0.375rem) translateY(0.74rem);
		}

		:nth-child(2),
		:nth-child(3) {
			opacity: 0;
		}

		:nth-child(4) {
			width: 2.2rem;
			transform: rotate(-45deg) translateX(0.35rem) translateY(-0.7rem);
		}
	}
}