* {
  box-sizing: border-box; }

.menu-btn {
  z-index: 3;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  transition: all 1s ease-in-out; }
  .menu-btn > .menu-btn-line {
    width: 2rem;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    transition: all 1s ease-in-out; }
  .menu-btn :nth-child(2) {
    margin: 4px 0 4px; }
  .menu-btn :nth-child(3) {
    margin: 4px 0 4px; }
  .menu-btn.close {
    transform: rotate(-90deg); }
    .menu-btn.close :nth-child(1) {
      width: 2.2rem;
      transform: rotate(45deg) translateX(0.375rem) translateY(0.74rem); }
    .menu-btn.close :nth-child(2),
    .menu-btn.close :nth-child(3) {
      opacity: 0; }
    .menu-btn.close :nth-child(4) {
      width: 2.2rem;
      transform: rotate(-45deg) translateX(0.35rem) translateY(-0.7rem); }

.menu {
  position: fixed;
  top: 0;
  opacity: 0.9;
  visibility: hidden;
  width: 100%;
  transition: all 1s ease-in-out; }
  .menu.show {
    visibility: visible;
    transition: all 1s ease-in-out; }
  .menu-brand, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    float: left;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background-color: rgba(55, 55, 55, 0.75);
    transform: translate3d(0, -100%, 0);
    transition: all 1s ease-in-out; }
    .menu-nav-item {
      list-style-type: none; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-brand {
    background-color: rgba(68, 68, 68, 0.75);
    transform: translate3d(0, 100%, 0);
    transition: all 1s ease-in-out; }
    .menu-brand.show {
      transform: translate3d(0, 0, 0); }
    .menu-brand .pic-profile {
      border-radius: 50%;
      width: 250px;
      height: 250px;
      background-image: url(../img/profile.png);
      background-clip: border-box;
      background-size: contain;
      border: 2px #53ff53 solid;
      background-repeat: no-repeat; }
  .menu-nav-item {
    transform: translateX(50vw);
    transition: all 1s ease-in-out; }
    .menu-nav-item.show {
      transform: translateX(0); }
  .menu .nav-link {
    display: inline-block;
    padding-top: 0.25rem;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s ease-in-out; }
    .menu .nav-link:hover {
      color: #53ff53; }

.menu-nav-item:nth-child(1) {
  transition-delay: 0.2s; }

.menu-nav-item:nth-child(2) {
  transition-delay: 0.4s; }

.menu-nav-item:nth-child(3) {
  transition-delay: 0.6s; }

@media screen and (max-width: 768px) {
  main {
    text-align: center;
    align-items: center; } }

@media screen and (max-width: 500px) {
  main {
    padding-top: 25vh !important; }
    main h1.title-1 {
      font-size: 8vw; }
    main h2.title-2 {
      font-size: 4vw; }
  .menu-nav {
    height: 70vh;
    transform: translate3d(-100vw, 0, 0); }
  .menu-brand {
    transform: translate3d(100vw, 0, 0);
    min-height: 250px;
    height: 30vh; }
    .menu-brand .pic-profile {
      width: 170px;
      height: 170px;
      background-size: 100%;
      background-position: center; }
  .menu-nav-item {
    transform: translateY(100vw); }
    .menu-nav-item.show {
      transform: translateY(0); }
  .menu-nav, .menu-brand {
    float: none;
    width: 100%; }
    .menu-nav.show, .menu-brand.show {
      transform: translate3d(0, 0, 0); } }

body {
  background-image: url(../img/bg-main.png);
  background-color: rgba(68, 68, 68, 0.75);
  color: #fff;
  height: 100vh;
  line-height: 1.5;
  margin: 0; }
  body:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(68, 68, 68, 0.6); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.title-1,
  h2.title-1,
  h3.title-1 {
    font-size: 8vw; }
  h1.title-2,
  h2.title-2,
  h3.title-2 {
    font-size: 5vw;
    background-color: rgba(69, 69, 69, 0.75); }
  h1.title-3,
  h2.title-3,
  h3.title-3 {
    font-size: 2.5vw; }

.secondary-text {
  color: #53ff53; }

header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%; }
  header a {
    color: white;
    text-decoration: none; }

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 15rem 2rem;
  overflow: hidden; }
  main .icon-list {
    margin-top: 0.5rem; }
    main .icon-list a {
      display: inline-block;
      padding: 0.25rem; }
      main .icon-list a:hover .icon-item {
        transition: color 1s ease-out;
        transform: scale(1.2);
        fill: #53ff53; }

.svg-fill-white {
  fill: #fff; }

.ico-1 {
  width: 32px;
  display: inline-block; }
